@media only screen and (max-width: 700px) {
    /*==== mobile header ====*/
    .hero {
        background-position: top;
        height: auto;
        aspect-ratio: 16/9;
    }
    .brand {
        padding: 0px 5px;
    }
    .brand-name {
        width: 200px;
        line-height: 1.1;
        text-align: center;
    }
    .brand-name h2 {
        font-size: large;
    }
    .brand-img {
        width: 50px;
        height: 50px;
    }
    .brand-img img {
        width: 50px;
    }
    .nav-menu {
        display: none;
    }
    .menu {
        position: absolute;
        right: 15px;
        top: 10px;
    }
    .hamburger {
        min-width: 30px;
        width: 40px;
        height: 24px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: none;
        border: none;
        z-index: 1000;
    }      
    .bar {
        display: block;
        height: 3px;
        width: 100%;
        background-color: #0a0f1f;
        border-radius: 3px;
        transition: all 0.3s ease;
    }    
    .hamburger.open .bar:nth-child(1) {
        transform: rotate(45deg) translateY(10px);
    }  
    .hamburger.open .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.open .bar:nth-child(3) {
        transform: rotate(-45deg) translateY(-10px);
    }
    body.noscroll {
        overflow: hidden;
    }
    
    /*=== Side menu ===*/
    .side-menu {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        background: #1c1e29;
        color: white;
        padding: 20px;
        transition: left 0.3s ease;
        z-index: 900;    
    }
    .side-menu.open {
        left: 0;
    }

    .hero-content {
        top: 100px;
    }
    .hero-text  h1{
        display: none;
    }
    .hero-text p {
        font-size: 18px;
        margin: 0;
    }
    .hero-cta {
        margin-top: 20px;
        display: flex;
        gap: 15px;
        width: 70%;
    }
    .hero-cta a {
        text-decoration: none;
        color: white;
        font-size: small;
    }
    .cta-button-about {
        padding: 2px 5px;
        border-radius: 5px;
    }
    .cta-button-services {
        padding: 2px 5px;
        border-radius: 5px;
    }
    .cta-button-services a {
        color: #0740d0;
    }

    /*=== section ===*/
    .section-title {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 5px;
    }
    .section-description {
        font-size: 18px;
        width: 90%;
    }
    .form-container {
        max-width: 300px;
    }

    /*=== Contact ===*/
    .contact {
        width: 95%;
        margin: 0 auto;
    }
    .contact-container {
        width: 100%;
    }
    .contact-info span {
        width: 200px;
    }
    span .br {
        display: block;
    }

    .copyrights {
        flex-direction: column;
        text-align: center;
    }
    .right {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    /*==== ABOUT PAGE ====*/
    .about-page .hero {
        height: 70px;
    }
    .about-content-child img {
        width: 270px;
        display: flex;
        margin: auto;
    }
    .history-child img {
        width: 270px;
    }
    .anthem-container {
        flex-direction: column;
    }

    /*==== ACADEMICS PAGE ====*/
    .curriculum {
        width: 95%;
    }
    .curriculum-container {
        flex-direction: column;
    }
    .curriculum-container .desktop {
        display: none;
    }
    .curriculum-container .mobile {
        display: block;
    }
    .age {
        border-radius: 25px;
        background-color: #cadaf5;
        margin: 5px auto;
    }
    .subjects {
        width: 100%;
    }
    .subject {
        width: 45%;
    }
    .process-container {
        flex-direction: column;
    }
    .requirement {
        width: 85%;
    }
    .requirement summary {
        right: 20px;
    }

    /*==== PORTFOLIO PAGE ====*/
    .portfolio .hero {
        height: 80px;
    }
    .category-name {
        font-size: 25px;
    }

}

@media only screen  and (max-width: 1030px) {
    .nav-menu {
        display: none;
    }
    .menu {
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .hamburger {
        min-width: 30px;
        width: 40px;
        height: 24px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: none;
        border: none;
        z-index: 1000;
    }
    .bar {
        display: block;
        height: 3px;
        width: 100%;
        background-color: #0a0f1f;
        border-radius: 3px;
        transition: all 0.3s ease;
    }
    .hamburger.open .bar:nth-child(1) {
        transform: rotate(45deg) translateY(10px);
    }  
    .hamburger.open .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.open .bar:nth-child(3) {
        transform: rotate(-45deg) translateY(-10px);
    }
    body.noscroll {
        overflow: hidden;
    }

    .side-menu {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 60%;
        height: 100vh;
        background: #1c1e29;
        color: white;
        padding: 20px;
        transition: left 0.3s ease;
        z-index: 900; 
    }
    .side-menu.open {
        left: 0;
    }
    
    .hero-text  h1{
        font-size: 35px;
        margin-bottom: 0px;
        font-weight: 600;
    }

    /*=== About ===*/
    .about {
        width: 90%;
    }

    /*=== Gallery ===*/
    .img {
        width: 350px;
    }

    /*==== ACADEMICS PAGE ====*/
     .requirement {
        width: 85%;
    }
    .requirement summary {
        right: 30px;
    }
    summary.junior {
        right: 30px;
    }
}

.side-menu ul a {
    text-decoration: none;
    color: white;
}
.side-menu ul li {
    padding: 10px 0;
    list-style-type: none;
}
.side-menu .social-links li {
    display: inline;
}
.social-links li i {
    font-size: 20px;

}
