@media only screen and (max-width: 700px) {
    /*==== mobile header ====*/
    .hero {
        background-position: top;
        height: auto;
        aspect-ratio: 16/9;
    }
    .brand {
        padding: 0px 5px;
    }
    .brand-name {
        width: 200px;
        line-height: 1.1;
        text-align: center;
    }
    .brand-name h2 {
        font-size: large;
    }
    .brand-img {
        width: 50px;
        height: 50px;
    }
    .brand-img img {
        width: 50px;
    }
    .nav-menu {
        display: none;
    }
    .menu {
        position: absolute;
        right: 15px;
        top: 10px;
    }
    .hamburger {
        min-width: 30px;
        width: 40px;
        height: 24px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: none;
        border: none;
        z-index: 1000;
    }      
    .bar {
        display: block;
        height: 3px;
        width: 100%;
        background-color: #0a0f1f;
        border-radius: 3px;
        transition: all 0.3s ease;
    }    
    .hamburger.open .bar:nth-child(1) {
        transform: rotate(45deg) translateY(10px);
    }  
    .hamburger.open .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.open .bar:nth-child(3) {
        transform: rotate(-45deg) translateY(-10px);
    }
    body.noscroll {
        overflow: hidden;
    }
    
    /*=== Side menu ===*/
    .side-menu {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        background: #1c1e29;
        color: white;
        padding: 20px;
        transition: left 0.3s ease;
        z-index: 900;    
    }
    .side-menu.open {
        left: 0;
    }

    .hero-content {
        top: 100px;
    }
    .hero-text  h1{
        display: none;
    }
    .hero-text p {
        font-size: 18px;
        margin: 0;
    }
    .hero-cta {
        margin-top: 20px;
        display: flex;
        gap: 15px;
        width: 70%;
    }
    .hero-cta a {
        text-decoration: none;
        color: white;
        font-size: small;
    }
    .cta-button-about {
        height: 30px;
        padding: 2px 5px;
    }
    .cta-button-services {
        height: 30px;
        padding: 2px 5px;
        text-align: center;
        top: -10px;
    }
    .cta-button-services a {
        color: #0740d0;
    }

    /*=== section ===*/
    .section-title {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 5px;
    }
    .section-description {
        font-size: 18px;
        width: 90%;
    }

    /*=== Newsletter ===*/
    .newsletter {
    }
    .footer-newsletter {
        display: block;
        text-align: center;
    }

    /*=== Contact ===*/
    .contact {
        width: 90%;
        margin: 0 4%;
    }
    .contact form {
        width: 90%;
    }
    .copyrights {
        flex-direction: column;
        text-align: center;
    }
    .right {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    /*==== PORTFOLIO PAGE ====*/
    .portfolio .hero {
        height: 80px;
    }
    .category-name {
        font-size: 25px;
    }

    /*==== VIEW_DETAILS PAGE ====*/
    .product {
        flex-direction: column;
        gap: 10px;
    }

    /*=== SERVICE FORM PAGE ===*/
    .header {
        width: 90%;
    }
    .service-form {
        flex-direction: column;
        width: 80%;
        margin: 50px auto;
    }
    .service-form-img {
        display: none;
    }
}

@media only screen and (max-width: 768px) { 
    
}
@media only screen  and (max-width: 1030px) {
    .nav-menu {
        display: none;
    }
    .menu {
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .hamburger {
        min-width: 30px;
        width: 40px;
        height: 24px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: none;
        border: none;
        z-index: 1000;
    }
    .bar {
        display: block;
        height: 3px;
        width: 100%;
        background-color: #0a0f1f;
        border-radius: 3px;
        transition: all 0.3s ease;
    }
    .hamburger.open .bar:nth-child(1) {
        transform: rotate(45deg) translateY(10px);
    }  
    .hamburger.open .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.open .bar:nth-child(3) {
        transform: rotate(-45deg) translateY(-10px);
    }
    body.noscroll {
        overflow: hidden;
    }

    .side-menu {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 60%;
        height: 100vh;
        background: #1c1e29;
        color: white;
        padding: 20px;
        transition: left 0.3s ease;
        z-index: 900; 
    }
    .side-menu.open {
        left: 0;
    }
    
    .hero-text  h1{
        font-size: 35px;
        margin-bottom: 0px;
        font-weight: 600;
    }

    /*=== About ===*/
    .about {
        width: 90%;
    }

    /*=== Gallery ===*/
    .img {
        width: 350px;
    }

    /*=== Contact ===*/
    .contact .submit {
        width: 88%;
    }
}

.side-menu ul a {
    text-decoration: none;
    color: white;
}
.side-menu ul li {
    padding: 10px;
    list-style-type: none;
}
.side-menu .social-links li {
    display: inline;
}
.social-links li i {
    font-size: 20px;

}