@media only screen and (max-width: 700px) {
    .brand-img {
        height: 50px;
        margin: 15px 5px;
    }
    .brand-img img {
        width: 50px;
    }
    .brand-name h2 {
        font-size: 16px;
        width: 180px;
        line-height: 1.1;
        text-align: center;
        padding: 5px 0;
        margin: 15px auto;
    }
    .back {
        padding: 12px 5px;
        margin: 10px 0;
    }
    .back i {
        font-size: 30px;
    }
    .logout {
        top: 20px;
        right: 10px;
        padding: 5px;
        width: 70px;
    }

	.form-container {
		margin: 100px auto;
		padding: 20px;
		max-width: 300px;
	}

    .side-bar {
        display: none;
    }
    .menu_bar {
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 10px;
        border-radius: 10px;
        margin: 150px auto;
        width: 300px;
    }
    .menu_bar .title {
        text-align: center;
    }
    .menu {
        border-top: thin solid #777676;
        padding: 10px;
    }
    .menu a {
        color: rgb(220, 11, 11);
        font-size: 18px;
    }
    .content-container {
        width: 100%;
        margin-left: 0;
    }
}