@media only screen and (max-width: 700px) {
    .brand-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
    }
    .brand-img img {
        width: 50px;
    }
    .brand-name h2 {
        font-size: large;
    }
    .brand-name span {
        padding-left: 2px;
        font-size: small;
    }
    .back {
        padding: 12px 5px;
        margin: 5px 0;
    }
    .back i {
        font-size: 35px;
    }
    .logout {
        top: 20px;
        right: 10px;
        padding: 5px;
        width: 80px;
    }

    .login-form {
        width: 85%;
    }
    input {
        width: 80%;
    }
    input.submit {
        width: 86%;
    }
    .menu_bar {
        width: 70%;
    }
    .team-form {
        width: 80%;
    }
    .team-form textarea {
        width: 80%;
        margin: 15px 20px;
        outline: none;
    }
    .poet-form {
        width: 90%;
    }
    .poet-form textarea {
        width: 85%;
    }
    .poet-form input {
        width: 85%;
    }
    .poet-form input.submit {
        width: 92%;
    }
}

@media only screen and (max-width: 1030px) {
    .login-form {
        width: 85%;
    }
}