body {
    width: 100%;
    background-color: #eee;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6; /* Improves readability */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
}

p {
    color: #777676;
}
.center {
    text-align: center;
}

/*==== header ====*/
header {
    width: 100%;
}
/* Nav*/
nav {
    display: flex;
    color: white;
    position: relative;
    background-color: #0a0f1f;
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
}
.brand-img {
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
    margin: 10px;
}
.brand-name h2 {
    padding: 10px 2px;
    position: relative;
}

.back {
    padding: 10px;
    margin: 10px;
}
.back i {
    font-size: 50px;
}
.back a{
    color: rgb(220, 11, 11);
}
.logout {
    background-color: rgb(220, 11, 11);
    width: 100px;
    position: absolute;
    top: 30px;
    right: 40px;
    text-align: center;
    padding: 5px 10px;
}
.logout a {
    color: white;
    text-decoration: none;
}

/*=== FORM ===*/
.form-container {
	background-color: #fff;
	width: 100%;
	max-width: 400px;
	padding: 15px 25px;
	border-radius: 10px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin: 150px auto;
}
.form-container h2 {
    text-align: center;
}
.form-group {
	margin: 10px auto;
}
label {
	display: block;
	font-weight: bold;
	color: #374151;
    margin-bottom: 5px;
}
input, select {
    background-color: #eee;
    border: thin solid #eee;
    padding: 10px;
    width: 100%;
    outline: none;
    border-radius: 5px;
}
textarea {
    background-color: #eee;
    border: thin solid #eee;
    padding: 10px;
    width: 100%;
    margin: auto;
    outline: none;
    justify-content: center;
    height: 100px;
}
input.submit {
    background-color: rgb(220, 11, 11);
    border: thin solid rgb(220, 11, 11);
    text-transform: uppercase;
    width: 100%;
    color: white;
    margin: 10px auto;
}
input:focus {
    border: thin solid rgb(220, 11, 11);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
}
textarea:focus {
    border: thin solid rgb(220, 11, 11);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
}

/*=== Menu ===*/
.menu-bar {
    display: none;
}

.side-bar {
	background-color: white;
	height: 100%;
	width: 20%;
	display: block;
	margin: 0;
	left: 0;
	top: 0;
	position: fixed;
	padding-top: 200px;
}
.side-bar ul {
	list-style-type: none;
}
.side-bar li {
    margin: 20px auto;
}
.side-bar a {
	color: #908a8a;
    text-decoration: none;
    font-size: larger;
}
.side-bar a:hover {
    color: black;
}
.side-bar a.active {
	color: black;
}

/*___ Content ___*/
.content-container {
    width: 80%;
    margin-left: 20%;
    margin-top: 100px;
    padding: 20px;
}
.page-name {
	margin: 5px 0;
}
.white-container {
    width: 95%;
    background-color: white;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
}
.white-container h2 {
    text-align: center;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.child {
    width: 45%;
    gap: 10px;
    margin: auto;
}

/*___ Menu Page ___*/
.menu-page {
    width: 80%;
    margin-left: 20%;
    border-radius: 10px;
    padding: 10px;
}
.menu-page img {
    display: flex;
    width: 250px;
    margin: auto;
    opacity: 0.6;
}
.menu-page h2 {
    text-align: center;
    font-size: 50px;
    bottom: 0px;
    font-weight: 700;
    line-height: 1.1;
    width: 85%;
    margin: auto;
    color: #908a8a;
}

/*=== Gallery ===*/
.gallery-form-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    border: thin solid #eee;
    border-radius: 10px;
}
.gallery-form-container .img-container {
    border-radius: 10px;
    height: 150px;
    background: #eee;
    margin: 25px 20px;
}
.img-container img {
    width: 100%;
    border-radius: 10px;
    height: 150px;
    object-fit: cover;
}
.gallery-form-container .form-container {
    box-shadow: none;
    margin: 0;
    padding: 15px;
}
.gallery-list {
    display: flex;
    border-radius: 10px;
    border: thin solid #eee;
    margin: 10px 20px;
}
.gallery-list:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.gallery-list-child {
    padding: 10px;
    border-right: thin solid #eee;
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    justify-content: center;
}
.gallery-list-child img {
    width: 150px;
    border-radius: 5px;
    margin: 0 20px;
}
.event-name {
    font-size: 20px;
}
.gallery-list-child .delete {
    background-color: rgb(220, 11, 11);
    padding: 10px;
    color: white;
    width: 100px;
    margin: 15px auto;
    text-align: center;
    border-radius: 5px;
}

/*=== Team ==*/
.event .form-container {
    margin: 0;
    box-shadow: none;
}
.event-container {
    display: flex;
    width: 80%;
    margin: 10px auto;
    border: thin solid #eee;
    gap: 10px;
}
input.time {
    width: 65%;
    margin: auto;
}
select.am {
    width: 35%;  
    margin: auto;
}
.news-container {
    width: 90%;
    display: flex;
    gap: 15px;
    margin: auto;
}
.news-box {
    background-color: white;
    border-radius: 8px;
    border: thin solid #b5b3b3;
    padding: 20px;
    width: 300px;
    margin: 30px auto;
    position: relative;
}
.news-head {
    display: flex;
    width: 99%;
    margin: auto;
}
.news-head .child {
    flex: 1;
}
.news-box .category {
    background-color: rgb(220, 11, 11);
    border-radius: 12px;
    color: #fff;
    font-size: small;
    text-align: center;
    width: 100px;
}
.date {
    text-align: right;
    color: #777676;
}
.news-box h2 {
    font-size: 18px;
    text-transform: capitalize;
}
.news-container .delete {
    background-color: rgb(220, 11, 11);
    padding: 5px;
    color: white;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    bottom: 5px;
}

/*==== Application Page ====*/
.application .gallery-list-child img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    justify-content: center;
}
.application-container {
    border: thin solid #eee;
    border-radius: 5px;
    width: 85%;
    margin: auto;
    padding: 15px;
}
.application-container .border {
    border: thin solid #eee;
    margin: 10px;
}
.application-container img {
    width: 200px;
}
.application-container p {
    margin: 0;
}
.application-container span {
    color: #0a0f1f;
}
.btn-container {
    display: flex;
    margin: 30px auto;
    gap: 20px;
    justify-content: center;
}
.dl-btn {
    background-color: rgb(220, 11, 11);
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}
.dl-btn a {
    color: white;
    text-decoration: none;
}

/*=== Sub Page ===*/
.email {
    position: relative;
    width: 70%;
}
.email-container {
    width: 90%;
    margin: auto;
    border: thin solid #eee;
    border-radius: 5px;
    padding: 10px;
}
.email .dl-btn {
    color: white;
    width: 150px;
    right: 20px;
    top: 20px;
    position: absolute;
}
.email-container .flex {
    margin: 15px;
}
.id {
    border-right: thin solid #eee;
    padding-right: 10px;
    width: 10%;
    text-align: center;
}
.email-list {
    width: 60%;
}
.copy {
    width: 20%;
    text-align: center;
}
.copy button {
    background-color: #0740d0;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
}

.form_message {
    width: 20%;
    padding: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 200px auto;
}

@media print {
    header,
    .side-bar,
    .page-name,
    .dl-btn {
        display: none;
    }
    body {
        background: white;
    }
    .application-container {
        width: 100%;
        
    }
    .content-container {
        width: 100%;
        margin-left: 0;
    margin-top: 0;
    padding: 20px;
}
}