body {
    width: 100%;
    background-color: #eee;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6; /* Improves readability */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    scroll-behavior: smooth;
}

p {
    color: #777676;
}

/*==== header ====*/
header {
    width: 100%;
}
/* Nav*/
nav {
    display: flex;
    color: white;
    position: relative;
}
.brand-img {
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
    margin: 10px;
}
.brand-name h2 {
    padding: 10px 2px;
    position: relative;
}

.back {
    padding: 10px;
    margin: 10px;
}
.back i {
    font-size: 50px;
}
.back a{
    color: rgb(220, 11, 11);
}
.logout {
    background-color: rgb(220, 11, 11);
    width: 100px;
    position: absolute;
    top: 30px;
    right: 40px;
    text-align: center;
    padding: 5px 10px;
}
.logout a {
    color: white;
    text-decoration: none;
}

/*=== FORM ===*/
form {
    margin: auto;
    width: 90%;
    overflow: hidden;
}
input, select {
    background-color: #eee;
    border: thin solid #eee;
    padding: 10px;
    width: 100%;
    margin: 15px auto;
    outline: none;
    justify-content: center;

}
textarea {
    background-color: #eee;
    border: thin solid #eee;
    padding: 10px;
    width: 100%;
    margin: 15px auto;
    outline: none;
    justify-content: center;
    height: 100px;
}
input.submit {
    background-color: rgb(220, 11, 11);
    border: thin solid rgb(220, 11, 11);
    text-transform: uppercase;
    width: 100%;
    color: white;
}
input:focus {
    border: thin solid rgb(220, 11, 11);
    border-color: rgb(220, 11, 11) transparent;
    box-shadow: 0px 2px 4px rgb(220, 11, 11);
}
textarea:focus {
    border: thin solid rgb(220, 11, 11);
    box-shadow: 0px 2px 4px rgb(220, 11, 11);
}

/*=== Login ===*/
.login-form {    
    background-color: white;
    width: 350px;
    margin: 150px auto;    
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/*=== Menu ===*/
.menu_bar {
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    margin: 150px auto;
    width: 330px;
}
.menu_bar .title {
    text-align: center;
}
.menu {
    border-top: thin solid #777676;
    padding: 10px;
}
.menu a {
    color: rgb(220, 11, 11);
    font-size: 18px;
}

/*=== Team ==*/
.event-form {
    background-color: white;
    width: 350px;
    margin: 80px auto;    
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.event-form input {
    width: 96%;
}
.event-form select {
    width: 100%;
}
input.time {
    width: 60%;
    margin: 15px auto;
}
select.am {
    width: 30%;  
    margin: 15px auto;
}
.event-form input.submit {
    width: 100%;
}

/*=== Gallery ===*/
.gallery-form {
    background-color: white;
    width: 350px;
    margin: 150px auto;    
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.g-form input {
    width: 90%;
    margin: 15px;
}
.poet-form input.submit {
    width: 94%;
}

.form_message {
    width: 20%;
    padding: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 200px auto;
}